.input {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
}

body {
    background-color: antiquewhite;
}

#textDiv {
    margin-top: 10px;
    font-size: 300%;
}

h1 {
    font-size: 300%;
}

button {
    margin: 3px;
    padding: 6px;
}